body {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #171717;
}

.title {
    font-size: 2.25rem;
    font-weight: 800;
    line-height: 40px;
    margin-bottom: 2rem;
}

.subtitle {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2rem;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
}

p, li {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.75rem;
}

ol {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}

li {
    margin-bottom: 0.5rem;
}

strong {
    font-weight: 700 ;
}

a:visited {
    color: #3F3FC6;
}

header, footer {
    padding: 1.25rem 7rem;
}

header {
    border: none;
    border-bottom: 1px  solid #171717;
    padding: 0 5rem;
}

header .container {
    padding: 0 2rem;
}

header .container .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
}

footer {
    border: none;
    border-top: 1px  solid #171717;
}

header nav {
    display: inline;
    visibility: hidden; /* oculto para pantallas pequenas por defecto */
}

nav a, header span {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0px;
    text-decoration: none;
    color: #60646C;
    padding: 0 12px;
}

nav a:visited {
    text-decoration: none;
    color: #60646C;

}

.categories {
    padding: 3rem 0rem; /* sin padding left y right para pantallas pequenas */
}

.categories .content {
    padding-left: 1rem;
    padding-right: 1rem;
}

.categories-title {
    color: #1C2024;
    font-size: 1.5px; /* titulo para pantallas pequenas por defecto */
    font-weight: 700;
    line-height: 2rem; /* titulo para pantallas pequenas por defecto */
    margin-bottom: 1rem;
}

.categories p {
    color: #60646C;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
}

.content {
    padding: 0 2rem;
}

.category-list {
    display: flex;
    flex-direction: column; /* orientacion vertical para pantallas pequenas por defecto */
    column-gap: 2rem;
    margin-top: 2.5rem;
}

.category-item {
    display: flex;
    flex-direction: column;
}

.category-image {
    max-width: 384px;
    aspect-ratio: 1/1; /* aspect ratio 1/1 para pantallas pequenas por defecto */
    object-fit: cover;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.category-title {
    margin-bottom: 0.5rem;
}

.categories .category-title {
    font-weight: 600;
    color: #1C2024;
}

.about-content {
    margin: 4rem auto;
    max-width: 768px;
}

.hero {
    background-image: url(./hero-background.png);
    background-color: rgba(0,0,0,0.5);
    background-blend-mode: multiply;
    
    min-height: 784px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero .container .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 48rem;
    text-align: center;
    row-gap: 1rem;
}

.hero-title, .hero-description {
    color: white;
}

.hero-title {
    font-weight: 700;
    font-size: 2.25rem; /* title para pantallas pequenas por defecto */
    line-height: 2.5rem; /* title para pantallas pequenas por defecto */
}

.hero-description {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
}

.hero-action {
    color: white;
    background-color: #5B5BD6;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    width: 175px;
    height: 48px;
    border-radius: 8px;
    border: none;
    margin-top: 2rem;
}

/* estilos para pantallas medianas (tablet) desde 640px o 40rem */
@media screen and (min-width: 40rem) {
    header nav {
        visibility: visible;
    }

    .category-list {
        flex-direction: row;
    }

    .category-image {
        aspect-ratio: 4/5;
    }

    /*
    Los headings (Hero y Categories) modifican su tamaño y alto de línea
     */
    .container {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .hero-title {
        font-size: 3.75rem;
        line-height: 3.75rem;
    }

    .categories-title {
        font-size: 2.25rem;
        line-height: 2.5rem;
    }


}

@media screen and (min-width: 64rem) {
    .container {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

