body {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #171717;
}

.title {
    font-size: 2.25rem;
    font-weight: 800;
    line-height: 40px;
    margin-bottom: 2rem;
}

.subtitle {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2rem;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
}

p, li {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.75rem;
}

ol {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}

li {
    margin-bottom: 0.5rem;
}

strong {
    font-weight: 700 ;
}

a:visited {
    color: #3F3FC6;
}

main {
    max-width: 48rem;
    margin: 0 auto;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

header, footer {
    width: 100%;
    padding: 1.25rem 2rem;
}

header {
    border: none;
    border-bottom: 1px  solid #171717;
}

footer {
    border: none;
    border-top: 1px  solid #171717;
}