body {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #171717;
}

.title {
    font-size: 2.25rem;
    font-weight: 800;
    line-height: 40px;
}

.subtitle {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2rem;
}

p, li {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.75rem;
}

strong {
    font-weight: 700 ;
}

a:visited {
    color: #3F3FC6;
}