body {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #171717;
}

.title {
    font-size: 2.25rem;
    font-weight: 800;
    line-height: 40px;
    margin-bottom: 2rem;
}

.subtitle {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2rem;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
}

p, li {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.75rem;
}

ol {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}

li {
    margin-bottom: 0.5rem;
}

strong {
    font-weight: 700 ;
}

a:visited {
    color: #3F3FC6;
}

header, footer {
    padding: 1.25rem 7rem;
}

header {
    border: none;
    border-bottom: 1px  solid #171717;
    padding: 0 5rem;
}

header .container {
    padding: 0 2rem;
}

header .container .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
}

footer {
    border: none;
    border-top: 1px  solid #171717;
}

header nav {
    display: inline;
}

nav a, header span {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0px;
    text-decoration: none;
    color: #60646C;
    padding: 0 12px;
}

nav a:visited {
    text-decoration: none;
    color: #60646C;

}

.categories {
    padding: 3rem 5rem;
}

.categories h2 {
    color: #1C2024;
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 2.5rem;
}

.categories p {
    color: #60646C;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
}

.content {
    padding: 0 2rem;
}

.category-list {
    display: flex;
    column-gap: 2rem;
    margin-top: 2.5rem;
}

.category-image {
    max-width: 384px;
    aspect-ratio: 4/5;
    object-fit: cover;
    border-radius: 1rem;
}

.categories .category-title {
    font-weight: 600;
    color: #1C2024;
}

.about-content {
    margin: 4rem auto;
    max-width: 768px;
}