.section-sm {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

@media screen and (min-width: 40rem) {
    .section {
        padding-top: 3.5rem;
        padding-bottom: 3.5rem;
    }
}

@media screen and (min-width: 64rem) {
    .section {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
}


