.sidebar-layout {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    gap: 2rem;
}

@media screen and (min-width:64rem) {
    .sidebar-layout {
        grid-template-columns: auto 1fr;
        grid-template-rows: 1fr;
    }
}