.catgories__header {
    max-width: 48rem;
}

.categories__title {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: 0px;
    margin-bottom: 1rem;
}

.categories__subtitle {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0px;
    color: var(--muted-foreground);
    margin-bottom: 2.5rem;
}

.categories__list {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

@media screen and (min-width: 40rem) {
    .categories__list {
        display: flex;
        flex-direction: row;
        column-gap: 2rem;
    }
}
