.category {
}

.category__image {
  width: 21rem;
  height: 14rem;
  border-radius: 0.75rem;
  margin-bottom: 1rem;
}

.category__title {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0;
  margin-bottom: 0.5rem;
}

.category__description {
  color: var(--muted-foreground);
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0px;
}
