.hero {
  background-image: url(../../hero-background.png);
  background-color: var(--neutral-a7);
  background-blend-mode: multiply;

  min-height: 784px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 48rem;
  text-align: center;
  /* row-gap: 1rem; */
}

.hero__title,
.hero__description {
  color: var(--white);
}

.hero__title {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 2.5rem;
  margin-bottom: 1rem;

  /* animacion: opcion 1 */
  animation: aparecer-izquierda 800ms;

  /* animacion: opcion 2 */
  /* animation: aparecer-abajo 800ms; */
}

.hero__description {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 2rem;

  /* animacion: opcion 1 */
  animation: aparecer-derecha 800ms;

  /* animacion: opcion 2 */
  /*
  animation: aparecer-abajo 800ms;
  animation-delay: 200ms;
  animation-fill-mode: backwards;
  */
}

.hero__content button {
  /* animacion: opcion 1 */
  animation: aparecer 1000ms;

  /* animacion: opcion 2 */
  /*
  animation-delay: 800ms;
  animation: aparecer-abajo 1000ms;
  animation-delay: 400ms;
  animation-fill-mode: backwards;
  */
}

@keyframes aparecer-izquierda {
  0% {
    transform: translateX(-5%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes aparecer-derecha {
  0% {
    transform: translateX(5%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes aparecer-abajo {
  0% {
    opacity: 0;
    transform: translateY(20%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

/* estilos para pantallas medianas (tablet) desde 640px o 40rem */
@media screen and (min-width: 40rem) {
  .hero__title {
    font-size: 3.75rem;
    line-height: 3.75rem;
  }
}
