.hero {
    background-image: url(../../hero-background.png);
    background-color: var(--neutral-a7);
    background-blend-mode: multiply;
    
    min-height: 784px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 48rem;
    text-align: center;
    /* row-gap: 1rem; */
}

.hero__title, .hero__description {
    color: var(--white);
}

.hero__title {
    font-weight: 700;
    font-size: 2.25rem; /* title para pantallas pequenas por defecto */
    line-height: 2.5rem; /* title para pantallas pequenas por defecto */
    margin-bottom: 1rem;
}

.hero__description {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 2rem;
}

/*
.hero__button {
    color: white;
    background-color: #5B5BD6;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    width: 175px;
    height: 48px;
    border-radius: 8px;
    border: none;
    margin-top: 2rem;
}
    */
/* estilos para pantallas medianas (tablet) desde 640px o 40rem */
@media screen and (min-width: 40rem) {
    .hero__title {
        font-size: 3.75rem;
        line-height: 3.75rem;
    }
}
