.links-group {
    display: flex;
    flex-wrap: wrap;
    row-gap: 2rem;
    column-gap: 1rem;
    /* padding: 3rem 0; */
    flex: 1;
}

.links-group .nav-item {
    display: flex;
    flex-direction: column;
    min-width: 10rem;
    row-gap: 1.5rem;
    flex-grow: 1;
}

.nav-item__title {
    font-weight: 500;
    color: var(--foreground);
}

.links-group .nav-item a {
    padding: 0;
}

.links-group__link {
    color: var(--muted-foreground);
    font-weight: 400;
    text-decoration: none;
}

@media screen and (min-width: 40rem) {
    .links-group { 
        display: flex;
        flex-wrap: nowrap;
    }
    
}

