.main-header {
    border: none;
    border-bottom: 1px  solid #D9D9E0;
}
.main-header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
}

.main-header__cart img {
    height: 24px;
    width: 24px;
}
