.main-nav {
    display: flex;
    justify-content: center;
    padding: .75rem 0;
}

/* estilos para pantallas medianas (tablet) desde 640px o 40rem */
@media screen and (min-width: 40rem) {
    .main-nav {
        position: absolute;
        top: calc(50% - 2.25rem);
        left: 0;
        right: 0;
        margin: auto;
        display: flex;
        justify-content: center;
    }
}

