.main-footer {
    display: flex;
}

.main-footer__content {
    display: flex;
    flex-direction: column;
    padding: 3rem 0;
    column-gap: 2rem;
    row-gap: 2rem;
}

.main-footer .container {
    margin: 0;
    width: 100%;
    max-width:none;
}

.main-footer__copyright {
    padding: 1.5rem 0;
    border-top-color: #D9D9E0;
    border-top-style: solid;
    border-top-width: 1px;
    text-align: center;
}

.main-footer__copyright p{
    font-size: 14px;
    color: var(--muted-foreground);
}

@media screen and (min-width: 64rem) {
    .main-footer__content {
        flex-direction: row;
    }
}

