.nav-item {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0px;
    text-decoration: none;
    color: var(--muted-foreground);
    padding: 0 12px;
    transition: background-color 200ms;
}

nav a:visited {
    text-decoration: none;
    color: var(--muted-foreground);
}

.nav-item:hover {
    background-color: var(--muted-background);
}
