.nav-item {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0px;
    text-decoration: none;
    color: var(--muted-foreground);
    padding: 0 12px;
}

nav a:visited {
    text-decoration: none;
    color: var(--muted-foreground);
}

