.newsletter-form {
    flex: 1;
}

form {
    display: flex;
    column-gap: 0.5rem;
}

.newsletter-form__title {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    margin-bottom: 24px;
}

.newsletter-form__description {
    color: var(--muted-foreground);
    font-size: .875rem;
    line-height: 1.25rem;
    margin-bottom: 8px;
}


.newsletter-form__email {
    border-color: #CDCED6;
    border-width: 1px;
    border-radius: 1rem;
    border-style: solid;
    width: 230px;
    height: 40px;
}
