.price-filter {
  display: grid;
  row-gap: 1.5rem;
}

.price-filter__title {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0px;
}

.price-filter__form {
  display: grid;
  row-gap: 1.5rem;
}

.price-filter__form-field {
  display: grid;
  flex: 1;
}

.price-filter__form-fields {
  display: flex;
  column-gap: 1.5rem;
}

.price-filter__input {
  background-color: var(--white);
  border-color: #cdced6;
  border-width: 1px;
  border-style: solid;
  border-radius: 0.75rem;
  height: 2.5rem;
}

@media screen and (min-width: 40rem) {
  .price-filter {
    max-width: 24rem;
  }
}
