.product {
    display: grid;
}
.product__image-container {
    background-color: var(--muted-background);
    display: grid;
    place-items: center;
    overflow: hidden;
}
.product__image {
    object-fit: cover;
    transition: transform 250ms;
}
.product__image:hover {
    transform: scale(1.05);
}
.product__content {
    padding: 1rem;
    display: grid;
    row-gap: 0.5rem;
}
.product__title {
    font-weight: 400;
    font-size: .875rem;
    color: var(--foreground);
}
.product__description {
    color: var(--muted-foreground);
    font-weight: 400;

}
.product__price {
    font-size: 1rem;
    font-weight: 400;
    color: var(--foreground);
}

.product-detail__info button {
    animation: ripple;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes ripple {
    0% {
        box-shadow: 0 0 0 0 var(--accent-a3);
    }
    50% {
        box-shadow: 0 0 0 10px  var(--accent-a2);
    }
    100% {
        box-shadow: 0 0 0 10px  var(--accent-a1);
    }
}