.quality-promise {
    display: flex;
    justify-content: center;
    padding: 3rem 0;
}

.quality-promise .container {
    display: flex;
    justify-content: center;
    padding: 0 1rem;
}

.quality-promise .container .quality-promise__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quality-promise .container .quality-promise__content .quality-promise__list {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    row-gap: 2rem;
    column-gap: 2rem;
}

.quality-promise .quality-promise__title {
    margin-bottom: 3rem;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;
}

/* pantallas medianas (tablet) */
@media screen and (min-width: 40rem) {
   .quality-promise .container .quality-promise__content .quality-promise__list {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        row-gap: 2rem;
    }

}

/* pantallas grandes (desktop) */
@media screen and (min-width: 64rem) {
   .quality-promise .container .quality-promise__content .quality-promise__list {
        grid-template-columns: repeat(4, 1fr);
    }

}