/* 1. Foundation */
@import url(1-foundation/tokens.css);
@import url(1-foundation/reset.css);
@import url(1-foundation/global.css);

/* 2. Layout */
@import url(2-layout/container.css);
@import url(2-layout/section.css);
@import url(2-layout/section-sm.css);
@import url(2-layout/vertical-page-layout.css);
@import url(2-layout/sidebar-layout.css);

/* 3. Components */
@import url(3-components/category.css);
@import url(3-components/categories.css);
@import url(3-components/quality-promise.css);
@import url(3-components/quality-item.css);
@import url(3-components/button.css);
@import url(3-components/main-header.css);
@import url(3-components/main-nav.css);
@import url(3-components/nav-item.css);
@import url(3-components/hero.css);
@import url(3-components/links-group.css);
@import url(3-components/main-footer.css);
@import url(3-components/newsletter-form.css);
@import url(3-components/content.css);
@import url(3-components/price-filter.css);
@import url(3-components/product.css);
@import url(3-components/products-grid.css);
@import url(3-components/product-detail.css);
